wfm-develop mobile 07.05.2026/wfm/backend/n8n/daily_shift_and_task.json
{
  "name": "[John Doe] Daily shift & task",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "1a2b3c4d-0001-0000-0000-000000000001",
      "name": "Every night at 00:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, a.id AS assignment_id\nFROM users u\nJOIN assignments a ON a.user_id = u.id\nJOIN positions p ON p.id = a.position_id\nWHERE u.sso_id = '409809c4-382d-45bc-adbd-78f9be3cafd4'\n  AND p.role_id = 1\nLIMIT 1;",
        "options": {}
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000002",
      "name": "Get John Doe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "users",
          "name": "users"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS work_type_id FROM work_types ORDER BY id LIMIT 1;",
        "options": {}
      },
      "id": "1a2b3c4d-0004-0000-0000-000000000004",
      "name": "Get work type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": {
          "id": "tasks",
          "name": "tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO shifts_plan (assignment_id, shift_date, start_time, end_time, duration, created_at)\n  SELECT\n    {{ $('Get John Doe').item.json.assignment_id }},\n    CURRENT_DATE,\n    '08:00:00',\n    '20:00:00',\n    12,\n    NOW()\n  WHERE NOT EXISTS (\n    SELECT 1 FROM shifts_plan\n    WHERE assignment_id = {{ $('Get John Doe').item.json.assignment_id }}\n      AND shift_date = CURRENT_DATE\n  )\n  RETURNING id\n)\nSELECT COALESCE(\n  (SELECT id FROM ins),\n  (SELECT id FROM shifts_plan\n   WHERE assignment_id = {{ $('Get John Doe').item.json.assignment_id }}\n     AND shift_date = CURRENT_DATE\n   LIMIT 1)\n) AS id;",
        "options": {}
      },
      "id": "1a2b3c4d-0005-0000-0000-000000000005",
      "name": "Create shift",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 300],
      "credentials": {
        "postgres": {
          "id": "tasks",
          "name": "tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (\n  id,\n  title,\n  description,\n  planned_minutes,\n  creator_id,\n  assignee_id,\n  state,\n  review_state,\n  acceptance_policy,\n  requires_photo,\n  shift_id,\n  work_type_id,\n  source,\n  created_at,\n  updated_at\n)\nVALUES (\n  gen_random_uuid(),\n  'Выкладка — Кондитерка, чай, кофе',\n  'Тестовая задача WFM',\n  120,\n  {{ $('Get John Doe').item.json.user_id }},\n  {{ $('Get John Doe').item.json.user_id }},\n  'NEW',\n  'NONE',\n  'MANUAL',\n  false,\n  {{ $json.id }},\n  {{ $('Get work type').item.json.work_type_id }},\n  'WFM',\n  NOW(),\n  NOW()\n)\nRETURNING id;",
        "options": {}
      },
      "id": "1a2b3c4d-0006-0000-0000-000000000006",
      "name": "Create task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 300],
      "credentials": {
        "postgres": {
          "id": "tasks",
          "name": "tasks"
        }
      }
    }
  ],
  "connections": {
    "Every night at 00:00": {
      "main": [
        [
          {
            "node": "Get John Doe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get John Doe": {
      "main": [
        [
          {
            "node": "Get work type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get work type": {
      "main": [
        [
          {
            "node": "Create shift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create shift": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
