wfm-develop mobile 07.05.2026/wfm/backend/n8n/daily_full_test_tasks.json
{
  "name": "[John Doe] Daily full test tasks",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "3a4b5c6d-0001-0000-0000-000000000001",
      "name": "Every night at 00:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, a.id AS assignment_id\nFROM users u\nJOIN assignments a ON a.user_id = u.id\nJOIN positions p ON p.id = a.position_id\nWHERE u.sso_id = '409809c4-382d-45bc-adbd-78f9be3cafd4'\n  AND p.role_id = 1\nLIMIT 1;",
        "options": {}
      },
      "id": "3a4b5c6d-0002-0000-0000-000000000002",
      "name": "Get John Doe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 160],
      "credentials": {
        "postgres": {
          "id": "users",
          "name": "users"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO shifts_plan (assignment_id, shift_date, start_time, end_time, duration, created_at)\n  SELECT\n    {{ $('Get John Doe').item.json.assignment_id }},\n    CURRENT_DATE,\n    '08:00:00',\n    '20:00:00',\n    12,\n    NOW()\n  WHERE NOT EXISTS (\n    SELECT 1 FROM shifts_plan\n    WHERE assignment_id = {{ $('Get John Doe').item.json.assignment_id }}\n      AND shift_date = CURRENT_DATE\n  )\n  RETURNING id\n)\nSELECT COALESCE(\n  (SELECT id FROM ins),\n  (SELECT id FROM shifts_plan\n   WHERE assignment_id = {{ $('Get John Doe').item.json.assignment_id }}\n     AND shift_date = CURRENT_DATE\n   LIMIT 1)\n) AS id;",
        "options": {}
      },
      "id": "3a4b5c6d-0003-0000-0000-000000000003",
      "name": "Create shift",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 160],
      "credentials": {
        "postgres": {
          "id": "tasks",
          "name": "tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\n  wt AS (\n    SELECT id, ROW_NUMBER() OVER (ORDER BY RANDOM()) AS rn FROM work_types\n  ),\n  z AS (\n    SELECT id, ROW_NUMBER() OVER (ORDER BY RANDOM()) AS rn FROM zones\n  ),\n  c AS (\n    SELECT id, ROW_NUMBER() OVER (ORDER BY RANDOM()) AS rn FROM categories\n  ),\n  wt_cnt AS (SELECT COUNT(*)::int AS n FROM work_types),\n  z_cnt  AS (SELECT COUNT(*)::int AS n FROM zones),\n  c_cnt  AS (SELECT COUNT(*)::int AS n FROM categories),\n  task_defs AS (\n    SELECT * FROM (VALUES\n      (1,  'Выкладка молочных продуктов',    'Выложить товары в секцию молочных, проверить сроки годности',              45,  false),\n      (2,  'Проверка ценников',              'Проверить соответствие ценников текущему прайс-листу по всем секциям',    30,  true),\n      (3,  'Уборка торгового зала',          'Влажная уборка торгового зала и прикассовой зоны',                        60,  false),\n      (4,  'Приёмка товара на склад',        'Принять, пересчитать и разместить поступивший товар',                     90,  true),\n      (5,  'Инвентаризация остатков',        'Пересчитать остатки по секции и сверить с системой учёта',                120, true),\n      (6,  'Переоценка товаров',             'Обновить ценники в соответствии с новым прайс-листом',                   45,  false),\n      (7,  'Проверка сроков годности',       'Изъять просроченный товар, оформить акт списания',                        60,  true),\n      (8,  'Обучение нового сотрудника',     'Провести инструктаж по стандартам выкладки и обслуживания покупателей',  90,  false),\n      (9,  'Расстановка ценников',           'Расставить ценники после переоценки по всей секции',                      30,  true),\n      (10, 'Контроль выкладки',              'Проверить соответствие выкладки стандартам мерчендайзинга',               60,  false)\n    ) AS t(seq, title, description, planned_minutes, requires_photo)\n  ),\n  task_with_time AS (\n    SELECT\n      seq, title, description, planned_minutes, requires_photo,\n      '08:00:00'::time + (\n        COALESCE(\n          SUM(planned_minutes) OVER (ORDER BY seq ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),\n          0\n        ) || ' minutes'\n      )::interval AS time_start,\n      '08:00:00'::time + (\n        COALESCE(\n          SUM(planned_minutes) OVER (ORDER BY seq ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),\n          0\n        ) || ' minutes'\n      )::interval AS time_end\n    FROM task_defs\n  )\nINSERT INTO tasks (\n  id, title, description, planned_minutes,\n  creator_id, assignee_id,\n  state, review_state, acceptance_policy, requires_photo,\n  shift_id, work_type_id, zone_id, category_id,\n  time_start, time_end, source, created_at, updated_at\n)\nSELECT\n  gen_random_uuid(),\n  twt.title,\n  twt.description,\n  twt.planned_minutes,\n  {{ $('Get John Doe').item.json.user_id }},\n  {{ $('Get John Doe').item.json.user_id }},\n  'NEW',\n  'NONE',\n  'MANUAL',\n  twt.requires_photo,\n  {{ $json.id }},\n  (SELECT id FROM wt WHERE rn = ((twt.seq - 1) % wt_cnt.n + 1)),\n  (SELECT id FROM z  WHERE rn = ((twt.seq - 1) % z_cnt.n + 1)),\n  (SELECT id FROM c  WHERE rn = ((twt.seq - 1) % c_cnt.n + 1)),\n  twt.time_start,\n  twt.time_end,\n  'WFM',\n  NOW(),\n  NOW()\nFROM task_with_time twt, wt_cnt, z_cnt, c_cnt\nORDER BY twt.seq\nRETURNING id;",
        "options": {}
      },
      "id": "3a4b5c6d-0004-0000-0000-000000000004",
      "name": "Create tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 160],
      "credentials": {
        "postgres": {
          "id": "tasks",
          "name": "tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, a.id AS assignment_id\nFROM users u\nJOIN assignments a ON a.user_id = u.id\nJOIN positions p ON p.id = a.position_id\nWHERE u.sso_id = '409809c4-382d-45bc-adbd-78f9be3cafd4'\n  AND p.role_id = 2\nLIMIT 1;",
        "options": {}
      },
      "id": "3a4b5c6d-0005-0000-0000-000000000005",
      "name": "Get John Doe Manager",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 440],
      "credentials": {
        "postgres": {
          "id": "users",
          "name": "users"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (\n  INSERT INTO shifts_plan (assignment_id, shift_date, start_time, end_time, duration, created_at)\n  SELECT\n    {{ $('Get John Doe Manager').item.json.assignment_id }},\n    CURRENT_DATE,\n    '08:00:00',\n    '20:00:00',\n    12,\n    NOW()\n  WHERE NOT EXISTS (\n    SELECT 1 FROM shifts_plan\n    WHERE assignment_id = {{ $('Get John Doe Manager').item.json.assignment_id }}\n      AND shift_date = CURRENT_DATE\n  )\n  RETURNING id\n)\nSELECT COALESCE(\n  (SELECT id FROM ins),\n  (SELECT id FROM shifts_plan\n   WHERE assignment_id = {{ $('Get John Doe Manager').item.json.assignment_id }}\n     AND shift_date = CURRENT_DATE\n   LIMIT 1)\n) AS id;",
        "options": {}
      },
      "id": "3a4b5c6d-0006-0000-0000-000000000006",
      "name": "Create shift (Manager)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 440],
      "credentials": {
        "postgres": {
          "id": "tasks",
          "name": "tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\n  wt AS (\n    SELECT id, ROW_NUMBER() OVER (ORDER BY RANDOM()) AS rn FROM work_types\n  ),\n  z AS (\n    SELECT id, ROW_NUMBER() OVER (ORDER BY RANDOM()) AS rn FROM zones\n  ),\n  c AS (\n    SELECT id, ROW_NUMBER() OVER (ORDER BY RANDOM()) AS rn FROM categories\n  ),\n  wt_cnt AS (SELECT COUNT(*)::int AS n FROM work_types),\n  z_cnt  AS (SELECT COUNT(*)::int AS n FROM zones),\n  c_cnt  AS (SELECT COUNT(*)::int AS n FROM categories),\n  task_defs AS (\n    SELECT * FROM (VALUES\n      (1,  'Выкладка молочных продуктов',    'Выложить товары в секцию молочных, проверить сроки годности',              45,  false),\n      (2,  'Проверка ценников',              'Проверить соответствие ценников текущему прайс-листу по всем секциям',    30,  true),\n      (3,  'Уборка торгового зала',          'Влажная уборка торгового зала и прикассовой зоны',                        60,  false),\n      (4,  'Приёмка товара на склад',        'Принять, пересчитать и разместить поступивший товар',                     90,  true),\n      (5,  'Инвентаризация остатков',        'Пересчитать остатки по секции и сверить с системой учёта',                120, true),\n      (6,  'Переоценка товаров',             'Обновить ценники в соответствии с новым прайс-листом',                   45,  false),\n      (7,  'Проверка сроков годности',       'Изъять просроченный товар, оформить акт списания',                        60,  true),\n      (8,  'Обучение нового сотрудника',     'Провести инструктаж по стандартам выкладки и обслуживания покупателей',  90,  false),\n      (9,  'Расстановка ценников',           'Расставить ценники после переоценки по всей секции',                      30,  true),\n      (10, 'Контроль выкладки',              'Проверить соответствие выкладки стандартам мерчендайзинга',               60,  false)\n    ) AS t(seq, title, description, planned_minutes, requires_photo)\n  ),\n  task_with_time AS (\n    SELECT\n      seq, title, description, planned_minutes, requires_photo,\n      '08:00:00'::time + (\n        COALESCE(\n          SUM(planned_minutes) OVER (ORDER BY seq ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING),\n          0\n        ) || ' minutes'\n      )::interval AS time_start,\n      '08:00:00'::time + (\n        COALESCE(\n          SUM(planned_minutes) OVER (ORDER BY seq ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),\n          0\n        ) || ' minutes'\n      )::interval AS time_end\n    FROM task_defs\n  )\nINSERT INTO tasks (\n  id, title, description, planned_minutes,\n  creator_id, assignee_id,\n  state, review_state, acceptance_policy, requires_photo,\n  shift_id, work_type_id, zone_id, category_id,\n  time_start, time_end, source, created_at, updated_at\n)\nSELECT\n  gen_random_uuid(),\n  twt.title,\n  twt.description,\n  twt.planned_minutes,\n  {{ $('Get John Doe Manager').item.json.user_id }},\n  {{ $('Get John Doe Manager').item.json.user_id }},\n  'NEW',\n  'NONE',\n  'MANUAL',\n  twt.requires_photo,\n  {{ $json.id }},\n  (SELECT id FROM wt WHERE rn = ((twt.seq - 1) % wt_cnt.n + 1)),\n  (SELECT id FROM z  WHERE rn = ((twt.seq - 1) % z_cnt.n + 1)),\n  (SELECT id FROM c  WHERE rn = ((twt.seq - 1) % c_cnt.n + 1)),\n  twt.time_start,\n  twt.time_end,\n  'WFM',\n  NOW(),\n  NOW()\nFROM task_with_time twt, wt_cnt, z_cnt, c_cnt\nORDER BY twt.seq\nRETURNING id;",
        "options": {}
      },
      "id": "3a4b5c6d-0007-0000-0000-000000000007",
      "name": "Create tasks (Manager)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [960, 440],
      "credentials": {
        "postgres": {
          "id": "tasks",
          "name": "tasks"
        }
      }
    }
  ],
  "connections": {
    "Every night at 00:00": {
      "main": [
        [
          {
            "node": "Get John Doe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get John Doe Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get John Doe": {
      "main": [
        [
          {
            "node": "Create shift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create shift": {
      "main": [
        [
          {
            "node": "Create tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get John Doe Manager": {
      "main": [
        [
          {
            "node": "Create shift (Manager)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create shift (Manager)": {
      "main": [
        [
          {
            "node": "Create tasks (Manager)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
