wfm-develop mobile 07.05.2026/wfm/backend/n8n/semetrics_references_csv.json
{
  "name": "Semetrics — References CSV",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "semetrics",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ref-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "semetrics"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query.type }}",
              "operation": "equal",
              "value2": "stores"
            }
          ]
        }
      },
      "id": "ref-0002",
      "name": "type == stores?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, address FROM stores ORDER BY id",
        "options": {}
      },
      "id": "ref-0003",
      "name": "Магазины из БД",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 120],
      "credentials": {
        "postgres": {
          "id": "o8dcZQsMua42to6t",
          "name": "users"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.id,\n  COALESCE(lc.first_name, u.first_name, sc.first_name) AS first_name,\n  COALESCE(lc.last_name, u.last_name, sc.last_name) AS last_name,\n  COALESCE(lc.middle_name, u.middle_name, sc.middle_name) AS middle_name\nFROM users u\nLEFT JOIN user_lama_cache lc ON lc.user_id = u.id\nLEFT JOIN user_sso_cache sc ON sc.user_id = u.id\nORDER BY u.id",
        "options": {}
      },
      "id": "ref-0004",
      "name": "Пользователи из БД",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [900, 480],
      "credentials": {
        "postgres": {
          "id": "o8dcZQsMua42to6t",
          "name": "users"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function csvField(value) {\n  if (value === null || value === undefined) return '';\n  const s = String(value);\n  if (s.includes(',') || s.includes('\"') || s.includes('\\n')) {\n    return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  }\n  return s;\n}\n\nconst rows = $input.all().map(i => i.json);\nconst lines = ['id,name,address'];\nfor (const r of rows) {\n  let name, address;\n  if (r.address) {\n    name = r.name;\n    address = r.address;\n  } else {\n    name = 'Магазин ' + r.id;\n    address = r.name;\n  }\n  lines.push(r.id + ',' + csvField(name) + ',' + csvField(address));\n}\nconst csv = lines.join('\\n');\n\nconst data = await this.helpers.prepareBinaryData(\n  Buffer.from(csv, 'utf-8'),\n  'stores.csv',\n  'text/csv'\n);\nreturn [{ json: {}, binary: { data } }];"
      },
      "id": "ref-0005",
      "name": "Сформировать stores.csv",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 120]
    },
    {
      "parameters": {
        "jsCode": "function field(value) {\n  if (value === null || value === undefined) return 'NULL';\n  return '\"' + String(value).replace(/\"/g, '\"\"') + '\"';\n}\n\nconst rows = $input.all().map(i => i.json);\nconst lines = ['\"id\",\"first_name\",\"last_name\",\"middle_name\"'];\nfor (const r of rows) {\n  lines.push('\"' + r.id + '\",' + field(r.first_name) + ',' + field(r.last_name) + ',' + field(r.middle_name));\n}\nconst csv = lines.join('\\n');\n\nconst data = await this.helpers.prepareBinaryData(\n  Buffer.from(csv, 'utf-8'),\n  'users.csv',\n  'text/csv'\n);\nreturn [{ json: {}, binary: { data } }];"
      },
      "id": "ref-0006",
      "name": "Сформировать users.csv",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 480]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"stores.csv\""
              }
            ]
          }
        }
      },
      "id": "ref-0007",
      "name": "Отдать stores.csv",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 120]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"users.csv\""
              }
            ]
          }
        }
      },
      "id": "ref-0008",
      "name": "Отдать users.csv",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 480]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query.type }}",
              "operation": "equal",
              "value2": "assignments"
            }
          ]
        }
      },
      "id": "ref-0009",
      "name": "type == assignments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 380]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.user_id,\n  a.store_id,\n  TO_CHAR(a.date_start, 'YYYY-MM-DD') AS valid_from,\n  TO_CHAR(a.date_end,   'YYYY-MM-DD') AS valid_to,\n  COALESCE(UPPER(r.code), 'WORKER') AS role\nFROM assignments a\nLEFT JOIN positions p ON p.id = a.position_id\nLEFT JOIN roles r     ON r.id = p.role_id\nWHERE a.store_id IS NOT NULL\nORDER BY a.user_id, a.date_start NULLS FIRST, a.id",
        "options": {}
      },
      "id": "ref-0010",
      "name": "Назначения из БД",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "o8dcZQsMua42to6t",
          "name": "users"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function csvField(value) {\n  if (value === null || value === undefined) return '';\n  const s = String(value);\n  if (s.includes(',') || s.includes('\"') || s.includes('\\n')) {\n    return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  }\n  return s;\n}\n\nconst rows = $input.all().map(i => i.json);\nconst lines = ['user_id,store_id,valid_from,valid_to,role'];\nfor (const r of rows) {\n  lines.push(\n    csvField(r.user_id) + ',' +\n    csvField(r.store_id) + ',' +\n    csvField(r.valid_from) + ',' +\n    csvField(r.valid_to) + ',' +\n    csvField(r.role)\n  );\n}\nconst csv = lines.join('\\n');\n\nconst data = await this.helpers.prepareBinaryData(\n  Buffer.from(csv, 'utf-8'),\n  'assignments.csv',\n  'text/csv'\n);\nreturn [{ json: {}, binary: { data } }];"
      },
      "id": "ref-0011",
      "name": "Сформировать assignments.csv",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"assignments.csv\""
              }
            ]
          }
        }
      },
      "id": "ref-0012",
      "name": "Отдать assignments.csv",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "type == stores?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type == stores?": {
      "main": [
        [
          {
            "node": "Магазины из БД",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "type == assignments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type == assignments?": {
      "main": [
        [
          {
            "node": "Назначения из БД",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Пользователи из БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Магазины из БД": {
      "main": [
        [
          {
            "node": "Сформировать stores.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Назначения из БД": {
      "main": [
        [
          {
            "node": "Сформировать assignments.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Пользователи из БД": {
      "main": [
        [
          {
            "node": "Сформировать users.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сформировать stores.csv": {
      "main": [
        [
          {
            "node": "Отдать stores.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сформировать assignments.csv": {
      "main": [
        [
          {
            "node": "Отдать assignments.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сформировать users.csv": {
      "main": [
        [
          {
            "node": "Отдать users.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
